.logoTitle {
    font-family: 'Share Tech Mono', monospace;
    color: black;
}

.imgHead {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: .8;
    z-index: -1;
}

.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 36, 5);
    text-align: center;
}

.textOne {
    background: #FCFCFC;
    margin: 40% 10% 0 10%;
}

.teamImg {
    /* height: 4%; */
    width: 40%;
    border-radius: 8%;
    background-color: rgb(167, 184, 185);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 35%;
    margin: 2% 0 0 10%;
}