.logoTitle {
    font-family: 'Share Tech Mono', monospace;
}

.imgHead {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: .8;
    z-index: -1;
}

.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 36, 5);
    text-align: center;
  }

.textOne {
    background: #FCFCFC;
    margin: 40% 10% 0 10%;
}

